<?xml version= "1.0" encoding= "utf-8"?>
<config xmlSource="a/gallery.xml" serverScript="" cornerRadius="" popupWindowName="" popupAutoClose="false" popupMenuDisabled="false" langPrevious="" langNext="" langOf="" frameWidth="" frameHeight="" frameBgColor="" frameBgTransparent="" frameBorderWidth="" frameBorderColor="" textFontFamily=".Vn3DH" textFontSize="" textFontColor="" textFontHighlight="" controlsColor="" controlsHighlight="" pageNumberWidth="" slideWidth="" slideHeight="" slideMarginTop="" slideBgColor="" slideBorderWidth="" slideBorderColor="" slideBorderTransparent="" slideDropShadow="false" slideDuration="" slideAutoStart="false" slideTransition="undefined" slideFadeDuration="" slideAction="undefined" slideCaptionVisible="false" slideCounterVisible="false" shadowDistance="" shadowBlur=""><config></config></config>